page-lista-candidatos {

}

.ion-item{
    height: 200px;
}

.btn-info{
    background-color: #eb7b27;
}

.img{
    width: 30%;
}

.p1{
    float: right;
}

.redes-sociais{
    width: 15px;
    margin-right: 10px;
    margin-left: 10px;
}



