#body {
    background-color: #eb7b27;
    background-image: url('/assets/imgs/a778067791bebc7838fffe640b590c66.png');
    
}

#btn{
    width: 116px;
    height: 31;
    margin-left: 32%;
    margin-top: 50%;
}

#header {
    
    background-color: #eb7b27;
}